@charset "UTF-8";


:root {
    --cor-primaria: #0A0A23; /*Azul Marinho profundo*/
    --cor-secundaria: #00FFFF; /*Ciano*/
    --cor-neutra-suave: #F7F7F7; /*Para fundo das paginas e artigos*/
    --cor-neutra-escura: #1A1A1A; /*Para textos fortes, títulos, rodapé escuro.*/
    --cor-destaque: #00B3B3; 
    --fonte-principal: 'Inter', Arial, sans-serif;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Inicio do Cabeçalho  */

header {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: 15px;
}


nav {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 10px 5px;
}



nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}


nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 48);
    border-radius: 5px;
    
}


@media (max-width: 600px) {
    header {
        padding: 20px 10px;
    }

    nav {
        text-align: center;
    }

    nav > a { 
        display: block;
        padding: 12px;
        font-size: 1.1em;

    }
}


/* Fim dO Cabeçalho */


body {
    font-family: var(--fonte-principal) ;
    background-color: var(--cor-neutra-suave);
}

/*inicio do conteúdo*/


main {
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 90px auto 40px auto;
    border-radius: 6px;
}



article {
    text-align: justify;
    font-size: 18px;
    padding: 40px;
    line-height: 1.6;
}

article h1 {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.5;
}


article h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

article p {
    margin-bottom: 20px;
}


.link-para-mais {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-primaria);
    color: white;
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 5px;
}

.link-para-mais a {

color: var(--cor-destaque);

}

@media (max-width: 600px) {
    article {
        font-size: 16px;
        padding: 20px;
        line-height: 1.7;
    }
}


/*Apenas conteúdo do artigo*/



/*CSS para pagina de lista dos primeiros 100 artigos*/


#cabeçalho-100-artigos {
    background-color: #00B3B3;
    margin: 0;
    padding: 0;
}



.lista-100-primeiros-artigos {
    text-align: center;
    margin: 50px;
    padding: 20PX;
}

.lista-100-primeiros-artigos li {
    background-color: var(--cor-neutra-suave);
    margin: 10px;
    padding: 10pX;
    border-radius: 6px;
    text-align: left;
}


.lista-100-primeiros-artigos a {
    text-decoration: none;
    color: var(--cor-primaria);
}


.lista-100-primeiros-artigos a:hover {

    text-decoration: none;
    color: var(--cor-destaque);
}



/*CSS para pagina de lista dos primeiros 100 artigos*/



/*Linhas de estilos*/



.divisor-estilo {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
    margin: 20px 0px 30px 0px;
}


.divisor-estilo::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 50px;
    height: 8px;
    background-color: var(--cor-secundaria);
    border-radius: 5px;
}



.imagem-ciclo-cartao-credito img {
    width: 100%;
    height: auto;
    max-width: 700px;
    max-height: 900px;
    border-radius: 6px;
}
