@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






header {
    background-color: rgb(14, 14, 48);
    color: white;
    text-align: center;
    padding: 10px;
}


nav {
    padding: 5px;
    text-align: left;
}



nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}


nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 48);
    border-radius: 5px;
    
}



main 

{
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
color: black;
padding: 15px;
margin-top: 100px;
margin-left: 100px;
margin-right: 100px;

}

Li {

    margin: 20px;
    padding: 20px;
}



li > a {

    text-decoration: none;

}