@charset "UTF-8";


:root {
    --cor-primaria: #0A0A23; /*Azul Marinho profundo*/
    --cor-secundaria: #00FFFF; /*Ciano*/
    --cor-neutra-suave: #F7F7F7; /*Para fundo das paginas e artigos*/
    --cor-neutra-escura: #1A1A1A; /*Para textos fortes, títulos, rodapé escuro.*/
    --cor-destaque: #00B3B3; 
    --fonte-principal: 'Inter', Arial, sans-serif;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Inicio do Cabeçalho  */

header {
    background-color: rgb(14, 14, 48);
    color: white;
    text-align: center;
}


nav {
    padding: 5px;
    text-align: left;
}



nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}


nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 48);
    border-radius: 5px;
    
}


/* Fim dO Cabeçalho */


body {
    font-family: var(--fonte-principal) ;
    background-color: var(--cor-neutra-suave);
}

/*inicio do conteúdo*/


main {
    background-color: white;
    width: 800px;
    margin: 70px auto;
    border-radius: 6px;
}



article {
    font-size: 18px;
    padding: 40px;
    line-height: 1.6;
}

article h1 {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.5;
}

article p {
    margin-bottom: 20px;
}




