@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Inicio do Cabeçalho  */

header {
    background-color: rgb(14, 14, 48);
    color: white;
    text-align: center;
    padding: 10px;
}


nav {
    padding: 5px;
    text-align: left;
}



nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}


nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 48);
    border-radius: 5px;
    
}


/* Fim di Cabeçalho */






/* Conteúdo */


main {
    background-color: #F7F7F7 ;
}

article > h1 {
    padding: 10px;
    margin: auto;
    text-align: center;
}


article p {
    padding: 10px;
}

article {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 20px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 10px;
}





